<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelPal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E7E1F641E3C7EF7009F928F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7E1F781E3C7EF8009F928F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7E1F831E3C7EF8009F928F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
